@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");

// widths
$maxWidth: 1270px;

// font families

$headerFont: "Montserrat", sans-serif;
$bodyFont: "Open Sans", sans-serif;
