@font-face {
  font-family: "Open Sans";
  src: url("./styles/fonts/opensans/OpenSans-Regular.ttf");
  font-weight: "regular";
}

@font-face {
  font-family: "Montserrat";
  src: url("./styles/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: "regular";
}
