@import "../../styles/variables";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-jumbotron {
  height: 600px;
  display: flex;
  .main-image {
    position: relative;
    width: 60%;
    height: 100%;
    @extend %flex-center;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .secondary-images {
    width: 40%;
    .top,
    .bottom {
      @extend %flex-center;
      height: 50%;
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
    }
  }

  a {
    line-height: initial;
    color: $white;
    text-decoration: none;
  }

  .overlay {
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);
    padding: {
      left: 24px;
      right: 24px;
    }
    h2 {
      margin: {
        bottom: 0;
      }
    }
    .author {
      margin: {
        bottom: 0;
      }
    }
    .likes {
      font-size: 0.75rem;
    }
  }
}
